.geocash-simulator{ data: { preshared_secret: geocash.preshared_secret } }
  .container-fluid
    .row
      .col-md-4.offset-md-4


        .card.step-1.withdraw-flow.deposit-flow
          %label.card-header{for: 'authorization-code-field'}
            Authorization Code
          .card-block
            .form-group
              %input.form-control#authorization-code-field{placeholder: 'XXXX-XXXX'}

        .card.step-2.withdraw-flow
          .card-header
            Withdraw
          .card-block
            %p.card-text
              The code you entered entitles you to
              = succeed '.' do
                %strong.withdraw-amount

            %button.dispense-button.btn.btn-primary
              Dispense

        .card.step-2.deposit-flow
          .card-header
            Deposit
          .card-block
            %p.card-text
              The code you entered is planned to deposit
              = succeed ',' do
                %strong.deposit-amount
              but you may enter any amount.

            .form-group
              %input.form-control#deposit-actual-amount-field{placeholder: '$0'}

            %button.deposit-button.btn.btn-primary{disabled: true}
              Deposit

        .card.step-3.withdraw-flow.deposit-flow
          %label.card-header{for: 'authorization-code-field'}
            Thank you!
          .card-block
            %p.card-text
              Your code has been redeemed.
              %span.confirmation-code-message
                To expedite this transaction, enter the confirmation code
                %strong.confirmation-code
                on your device.
