.home
  #heroImage
    = link_to account_path(Account.first) do
      =image_tag image_url('the_youths.jpeg')
    .row
      .col-sm-7
      .col-sm-4
        %h5 Your money, when you need it
      .col-sm-1