.home
  = link_to account_path(Account.first) do
    #heroImage
      =image_tag image_url('the_youths.jpeg')
      .row
        .col-sm-8
        .col-sm-2.with-text
          %h2 Your money
          %h5 when you need it
        .col-sm-2.without-text