!!!
%html
  %head
    %title Geoca$h
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', data: {turbolinks_track: 'reload'}
    = javascript_include_tag 'application', data: {turbolinks_track: 'reload'}
    %link{:href => "http://fonts.googleapis.com/css?family=Arvo:400,700|Nunito", :rel => "stylesheet", :type => "text/css"}/

  %body
    = yield

